<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
                <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <!-- Logger -->
    <logger name="wooteco.subway" level="DEBUG" appender-ref="console"/>
    <logger name="spring.jdbc.sqlonly" level="INFO" appender-ref="console-infolog"/>
    <logger name="spring.jdbc.resultsettable" level="INFO" appender-ref="console-infolog"/>

    <!-- Root Logger -->
    <root level="off">
        <appender-ref ref="console"/>
    </root>
</configuration>